.btn,
.roundBtn {
  transition: 30ms all;
}

.roundBtn {
  border-radius: 100px;
  padding: 5px;
  font-size: 0.8em;
  font-weight: 600;
  transition: 30ms all;
}
.default {
  background-color: aliceblue;
  color: #222;
}
.transparent {
  color: aliceblue;
}

.btn:hover,
.roundBtn:hover {
  transform: scale(1.2);
}
